
<div class="container">
  <div class="card mt-4 login-form">
    <h4 class="card-title text-center">Login</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
          <label for="email" class="label-text">Email</label>
          <input
            type="text"
            name="email"
            placeholder="Enter Email..."
            class="form-control"
            formControlName="email"
          />
          <small
            class="form-text text text-danger"
            *ngIf="
             loginForm.controls['email'].touched &&
              loginForm.controls['email'].errors?.['required']
            "
          >
            Please enter email address.!
          </small>
          <small class="form-text text text-danger"
          *ngIf="loginForm.controls['email'].errors?.['email'] ">
            Enter proper email address.!
          </small>
        </div>

        <div class="form-group">
          <label for="password" class="label-text">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Enter Password..."
            class="form-control"
            formControlName="password"
          />
          <small
          class="form-text text text-danger"
          *ngIf="
           loginForm.controls['password'].touched &&
            loginForm.controls['password'].errors?.['required']
          "
        >
          Please enter Password!
        </small>
          <small
            class="form-text text text-danger "
            *ngIf="loginForm.controls['password'].errors?.['minlength'] " >
            Please enter minimum 5 Chars!
          </small>
        </div>
        <div class="mt-2 form-group">
          <button type="submit" class="btn btn-success mt-2" [disabled]="!loginForm.valid" data-toggle="modal" data-target="#exampleModal">Login</button>
          <span>
            <a href="/forgot-password" class="forgot-password-link"
              >Forgot Password</a
            ></span
          >
        </div>

        <div class="form-group">
          <label for=""><b>Don't Have Account </b></label>
          <span> <a href="/signup" class="sign-up-link">Sign-Up</a></span>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>