<!-- <app-navbar></app-navbar> -->
<div class="container text-center">
    
  <h3 class="mt-4">Welcome to Coding Tasks</h3>

  <div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title"> Simple Form</h5>
     
      <form class="form-group simpleForm" #myForm="ngForm">
        <div class="mt-2">
          <label id="inputValue">Enter Value: </label>
        </div>
        <div class="mt-2">
          <input
            type="text"
            name="inputValue"
            class="form-control"
            id="inputValue"
            [(ngModel)]="inputValue"
          />
        </div>
        <div class="mt-2 mb-2">
          <button
            type="submit"
            class="btn btn-success btn-md"
            (click)="onClick(inputValue)"
          >
            Dispaly & Reset Value
          </button>
        </div>
      </form>
      <div *ngIf="submittedValue"><b>Submitted Value: {{ submittedValue }}</b></div>
    </div>
  </div>
</div>
