<div class="row">
  <div class="col-md-12">
    <h2>Zone.js Example</h2>
    <span
      ><button class="btn btn-secondary" (click)="loadData()">
        Load Data
      </button></span
    >
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
<div class="row dynamic-form">
  <div class="col-md-6">
    <app-dynamic-form></app-dynamic-form>
  </div>
  <div class="col-md-6">
    <app-countdown-timer></app-countdown-timer>
  </div>
</div>
<hr />
<div class="row">
  <h3>Rate this Product:</h3>
  <div class="col-md-6">
    <app-star-rating
      [rating]="currentRating"
      (ratingChange)="handleRatingChange($event)"
    ></app-star-rating>
  </div>
  <div class="col-md-6">
    <h4>{{ "angular custon pipe example" | titlecase }}</h4>
  </div>
</div>
<!-- 
<button type="button" class="btn btn-primary mt-4" routerLink="/personal-details">Go to Job Application</button> -->

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Company</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      <ng-container *ngIf="userList && userList.length > 0">
        <tr *ngFor="let user of userList">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.company.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address.city }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="col-md-6" *ngIf="usernames && usernames.length > 0">
    <h4>Username By Alphabetical order</h4>
    <!-- {{usernames|json}} -->
    <div *ngFor="let name of usernames | sortByName">{{ name }}</div>
  </div>
</div>

<!-- 
<app-education></app-education> -->
