<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h4>Personal Details</h4>
      <form [formGroup]="form" (ngSubmit)="submit()"> 
        <label for="firstname">First Name</label>
        <input type="text" placeholder="Enter First Name" class="form-control" formControlName="firstName"/>
       <div class="text text-danger" *ngIf="form.controls['firstName'].touched && form.controls['firstName'].invalid">FirstName is required</div>

        <label for="middlename">Middle Name</label>
        <input type="text" placeholder="Enter Middle Name" class="form-control" formControlName="middleName" />
        <div class="text text-danger" *ngIf="form.controls['middleName'].touched && form.controls['middleName'].invalid">MiddleName is required</div>

        <label for="lastname">Last Name</label>
        <input type="text" placeholder="Enter Last Name" class="form-control" formControlName="lastName" />
        <div class="text text-danger" *ngIf="form.controls['lastName'].touched && form.controls['lastName'].invalid">LastName is required</div>

        <label for="email">Email ID</label>
        <input type="email" placeholder="Enter Email ID" class="form-control" formControlName="email"/>
        <div class="text text-danger" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
            <div *ngIf="form.controls['email'].errors?.['required']">Email is required.</div>
    <div *ngIf="form.controls['email'].errors?.['email']">Enter a valid email address.</div>
  </div>

        <label for="mobile">Mobile No</label>
        <input type="text" placeholder="Enter Mobile" class="form-control" formControlName="mobile" />
        <div class="text text-danger" *ngIf="form.controls['mobile'].touched && form.controls['mobile'].invalid">
            <div *ngIf="form.controls['mobile'].errors?.['required']">Mobile is required</div>
    <!-- <div *ngIf="form.controls['mobile'].errors?.['minlength']|| form.controls['mobile'].errors?.['maxlength']">Mobile No must be exactly 10 digits.</div> -->
   <!-- <div *ngIf="form.controls['mobile'].errors?.['pattern']">Mobile number must be exactly 10 digits </div> -->
    <div *ngIf="form.controls['mobile'].errors?.['pattern']">Mobile number can only contain digits or exactly 10 digit.</div>
  </div>

        <label for="address">Address</label>
        <textarea  placeholder="Enter Last Name" class="form-control"  rows="5" cols="2" formControlName="address"></textarea>
        <div class="text text-danger" *ngIf="form.controls['address'].touched && form.controls['address'].invalid">Address is required</div>

        <button type="submit" class="btn btn-primary mt-2" [disabled]="form.invalid">Next</button>

      </form>
    </div>
  </div>
</div>

